<body class="profile-page">
    <%= render("layouts/header") %>
   <div class="container-section">
    <div class="wrapper">
        <section class="container-section-banner">
            <div class="page-header page-header-small">
                <div class="page-header-image" data-parallax="true" style="background-image: url(<%= image_path("startup3.jpg") %>);"></div>
                <h1>Votre profil</h1>
            </div>
        </section>
    </div>
    <div class="porfile-content">
      <h6><%= link_to 'Home', root_path, class: "btn btn-primary" %></h6> 
    </div>
    </div>
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="content-center text-center porfile-content"> 
                            <% if current_user.profile.avatar.attached? %>
                            <%= image_tag current_user.profile.avatar, class: "photo-container" %>
                            <% else %>
                            <%= image_tag "guy-1.jpg", class:'photo-container' %>
                            <% end %>
                            <% if current_user.profile.name %>
                            <h3 class="title"><%= current_user.profile.name %></h3>
                            <% else %>
                            <h3 class="title">J.Doe</h3>
                            <% end %>
                             
                               <%= link_to 'Modifiez votre profil', edit_profile_path(current_user.profile.id), class:"btn btn-primary" %>

                            <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Linkedin">
                                <%= image_tag('linkedin.png') %>
                            </a> 
                        </div>
                        </br>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">
                                    Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#following" role="tab" aria-controls="following">
                                    Projets
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#followers" role="tab" aria-controls="followers">
                                    Partenaires potentiels
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#likes" role="tab" aria-controls="likes">
                                    Matchs
                                </a>
                            </li>
                        </ul>
                            
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel">
                            <% Article.all.each do |article| %>
                                <div class="media Tweets">
                                <%= image_tag('workplace.jpg', class:"mr-3  img-flex", alt: "Generic placeholder image") %>
                                    <div class="media-body">
                                        <h5 class="mt-0"><%= article.title %></h5>
                                    <p class='fivelines'> <%= article.content %></p>
                                        <br/>
                                        <%= link_to 'Lire plus', article %> 
                                    </div>
                                </div>
                                <% end %>
                            </div>
                            <!-- following -->
                            <div class="tab-pane Follow" id="following" role="tabpanel">
                                <div class="container-fluid">
                                    <div class="row">
                                    <% Project.all.each do |project| %>
                                        <div class="col-12 col-sm-6">
                                            <div class="card">
                                                <%= image_tag 'startup2.jpg',class: "card-img-top",   alt: "Card image cap"  %>
                                                <div class="card-block">
                                                    <h4><%= project.title %></h4>
                                                    <p class="card-text"><%= project.description %></p>                                                   
                                                    <%= link_to 'Show', project, class: "btn btn-primary" %>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                    </div>
                                </div>
                            </div>

                            <!--- Followers -->
                            <div class="tab-pane Followers" id="followers" role="tabpanel">
                                <div class="container-fluid">
                                    <div class="row">
                                 
                                    <% @profiles.each do |profile| %>
                                        <div class="col-12 col-sm-6">
                                            <div class="card">
                                                <% if profile.avatar.attached? %>
                                                <%= image_tag profile.avatar, class: 'card-img-pr' %>
                                                <% else %>
                                                <%= image_tag "guy-1.jpg", class:'card-img-profil' %>
                                                <% end %>
                                                <div class="card-block">
                                                    <% if profile.name.present? %>
                                                    <h4><%= profile.name %></h4>
                                                    <% else %>
                                                    <h4>J.Doe</h4>
                                                    <% end %>
                                                    <% if profile.description.present? %>
                                                    <p class="card-text"><%= profile.description %></p>
                                                    <% else %>
                                                    <p class="card-text">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum</p>
                                                    <% end %>
                                                    

                                                    <%= link_to 'Voir', profile , class:"btn btn-primary btn-round btn-sm"%>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="likes" role="tabpanel">
                            <% current_user.friends.each do |friend| %>
                                <div class="card mb-3 ml-10" style="max-width: 540px;">
                                    <div class="row no-gutters">
                                            <div class="col-md-3">
                                              <% if friend.profile.avatar.attached? %>
                                              <%= image_tag friend.profile.avatar, class: "card-img" %>
                                              <% else %>
                                              <%= image_tag "guy-1.jpg", class:'card-img' %>
                                              <% end %>
                                            </div>
                                            <div class="col-md-9">
                                              <div class="card-body ml-1">
                                                  <h5 class="card-title"><strong><%= friend.profile.name %></strong></h5>
                                                  <p class="card-text"><strong>Age :</strong> <%= friend.profile.age %> | <strong>Ville :</strong> <%= friend.profile.city %> | <strong>Domaine :</strong> <%= friend.profile.skills %></p>
                                                  <p class="card-text"><%= friend.profile.description %></p>
                                                  <%= link_to "Linkedin", "#{friend.profile.linkedin_url}", target: "_blank", rel: "nofollow" %>
                                              </div>
                                            </div>
                                    </div>
                                </div>
                                <% end %>
                        </div>
                        </div>
                    </div>

                    <div class=" col-12 col-sm-3 col-md-3 col-lg-3 col-lx-3 hidden-sm-dow">
                        <div class="sidebar">
                            <h5>Vos futurs partenaires </h5>
                            <div class="container-fluid"> 
                                <div class="row">

                                <% current_user.pending_invitations.each do |invitation| %>

                                    <div class="col-12">
                                        <div class="card">   
                                            <div class="card-body ml-2 mt-1 mb-1">
                                                <h6 class="mt-0"><%= User.find(invitation.user_id).profile.name %> </h6>
                                                <%= User.find(invitation.user_id).profile.skills %>
                                                <%= link_to 'Acceptez invitation',invitations_update_path(invitation_id: invitation.id), class:"btn btn-primary btn-round btn-sm" %>
                                        </br>
                                        </br>
                                        <%= link_to 'Rejetez invitation',invitations_destroy_path(invitation_id: invitation.id),class:"btn btn-danger btn-round btn-sm" %>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                  <% end %>                                 
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%= render("layouts/footer") %>
    </div>
    </body>
                