  
  <main class="container-section">
<%= render ("layouts/header") %>
    <div class="wrapper">
        <section class="container-section-banner">
            <div class="page-header page-header-small">
                <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/startup3.jpg');"></div>
                <h1>Your Profile</h1>
            </div>
        </section>
    </div>
  <div class="tab-pane Followers" id="followers" role="tabpanel">
    <div class="container-fluid">
        <div class="row">
       
          <div class="col-12 col-sm-12">
     <div class="card">
       <br/>
         <div class="card-block">
    <br/>
    <%= image_tag ('guy-1.jpg'), class:"img-profile-folow"  %>
    <h4>Juan Ramirez</h4>
    <p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Compétences:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Lien Linkedin:</strong>
  <%= @profile.linkedin_url %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @profile.city %>
</p>

      
    
 
  <% if current_user.id == @profile.user_id %>
  <%= link_to 'Modifiez votre profil', edit_profile_path(@profile), class:"btn btn-primary" %>
  <% end %>
         </div>
     </div>
          </div>
         
        </div>
    </div>
  </div>
  <%= render ("layouts/footer") %>
</main>



