<div class="container">
<h1>User</h1>

<table id= "dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
  width="100%">
  <thead class="thead-dark">
    <tr>
      <th>Idt</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email%></td>
        <td><%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Really delete this user?" } %></td>
       </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="container">
<h1>Profile</h1>



<table calss="table">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>User_id</th>
     <th>Name</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.id %></td>
        <td><%= profile.user_id %></td>
        <td><%= profile.name %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="container">
<h1>Article</h1>

<table class ="table">
  <thead class="thead-dark">
    <tr>
      <th>Article title</th>
      <th>User_id</th>
     <th>id</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.user_id %></td>
        <td><%= article.id %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
<h1>Project</h1>

<table class ="table">
  <thead class="thead-dark">
    <tr>
      <th>Project title</th>
      <th>User_id</th>
     <th>id</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.user_id %></td>
        <td><%= project.id %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>