<body class="profile-page">
    <%= render("layouts/header") %>

    <div class="wrapper">
        <div class="page-header ">
            <div class="page-header-image" data-parallax="true" style="background-image: url(<%= image_path('img20.jpg', class:"img-fluid") %>);">
            </div>
        </div>
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#articles" role="tab" aria-controls="articles">
                                    Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#entrepreneurship" role="tab" aria-controls="entrepreneurship">
                                   Le parcours de l'entrepreneur
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#bemypartner" role="tab" aria-controls="bemypartner">
                                    Be My Partner
                                </a>
                            </li>
                        </ul>
                            
                        <div class="tab-content">
                            <div class="tab-pane active" id="articles" role="tabpanel">
                            <% Article.all.each do |article| %>
                                <div class="row">
                                <div class="col-12 col-sm-2"></div>
                                <div class="col-12 col-sm-8 media Tweets">
                                <%= image_tag('workplace.jpg', class:"mr-3  img-flex", alt: "Generic placeholder image") %>
                                    <div class="media-body">
                                        <h5 class="mt-0"><%= article.title %></h5>
                                        <%= article.content %>
                                        <br/>
                                        <%= link_to 'Show', article %> 
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2"></div>
                                </div>
                                <% end %>
                                
                            </div>
                            <!-- Le parcours de l'entrepreneur -->
                            <div class="tab-pane Follow" id="entrepreneurship" role="tabpanel">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-2"></div>
                                        <div class="col-12 col-sm-8">
                                           <%= image_tag 'entrepreneuriat-1.jpg' %>
                                           <%= image_tag 'entrepreneuriat-2.jpg' %>
                                           <%= image_tag 'entrepreneuriat-3.jpg' %>
                                           <%= image_tag 'entrepreneuriat-4.jpg' %>
                                           <%= image_tag 'entrepreneuriat-5.jpg' %>
                                           <%= image_tag 'entrepreneuriat-6.jpg' %>
                                           <%= image_tag 'entrepreneuriat-7.jpg' %>
                                           <%= image_tag 'entrepreneuriat-8.jpg' %>
                                           <%= image_tag 'entrepreneuriat-9.jpg' %>
                                           <%= image_tag 'entrepreneuriat-10.jpg' %>
                                           <%= image_tag 'entrepreneuriat-11.jpg' %>
                                           <%= image_tag 'entrepreneuriat-12.jpg' %>
                                           <%= image_tag 'entrepreneuriat-13.jpg' %>
                                           <%= image_tag 'entrepreneuriat-14.jpg' %>
                                           <%= image_tag 'entrepreneuriat-15.jpg' %>
                                           <%= image_tag 'entrepreneuriat-16.jpg' %>
                                           <%= image_tag 'entrepreneuriat-17.jpg' %>
                                        </div>
                                        <div class="col-12 col-sm-2"></div>
                                    </div>
                                </div>
                            </div>

                            <!--- Be my partner -->
                            <div class="tab-pane Followers" id="bemypartner" role="tabpanel">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-2"></div>
                                        <div class="col-12 col-sm-8">
                                                <div class="card">
                                                <h5 class="card-title">Pourquoi Be-My-Partner ? </h5>
                                                    <p class="card-text">
                                                    Vous recherchez un cuisinier hors-pair pour enfin ouvrir votre restaurant ?
                                                    Vous possédez une expertise et souhaitez prendre part à un projet entrepreneurial ? 
                                                    BeMyPartner vous aide à trouver le partenaire idéal pour développer votre projet ou pour réaliser votre rêve d’aventure entrepreneuriale !
                                                    Nous sommes convaincus que des compétences adéquates et une bonne entente entre associés  sont indispensables à la réussite d’un projet. 
                                                    Aussi, nous avons développé une solution pour faciliter les rencontres entre porteurs de projets et experts ou techniciens désireux d’entreprendre. 
                                                    Parce qu’il est important que des associés soient tous motivés par le projet et qu’ils se fassent confiance, BeMyPartner vous permet d’entrer en contact facilement, afin de mieux vous connaître et bien comprendre vos attentes. 
                                                    Découvrez sans plus attendre les compétences et les projets qui vous intéressent : (deux boutons : un pour découvrir les profils et un pour découvrir les projets)</p>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-2"></div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render("layouts/footer") %>
    </div>
    </body>
                