<body class="profile-page">
    <%= render("layouts/header") %>

    <div class="wrapper">
        <div class="page-header ">
            <div class="page-header-image" data-parallax="true" style="background-image: url(<%= image_path('img20.jpg') %>);">
            </div>
            <div class="container">
                <div class="content-center">
                <h1 class="title">Let's team up !</h1>
                <button class="btn btn-primary btn-lg">Sign up/Sign in</button>
                </div>
            </div>
        </div>

        <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2 class="title">Why Be My Partner?</h2>
                    <h5 class="description">Vous recherchez un cuisinier hors-pair pour enfin ouvrir votre restaurant ?
                    Vous possédez une expertise et souhaitez prendre part à un projet entrepreneurial ? 
                    BeMyPartner vous aide à trouver le partenaire idéal pour développer votre projet ou pour réaliser votre rêve d’aventure entrepreneuriale  
                    Découvrez sans plus attendre les compétences et les projets qui vous intéressent.</h5>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
                <h2 class="title">How does it work ? </h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Create your profil</h4>
                                <p class="description">Sign up, and fill your profile. Present yourself and your skills. Make sure you give the more informations you can, so that people can know you, and your skills, and manifest interest for you.</p>
                                <a href="#" <button class="btn">Profile</button></a>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Submit or find projects</h4>
                                <p class="description">Present your project and the skills your are looking for. If you have special skills and want to take part to an entrepreneurial adventure, discover projects that might interest you</p>
                                <a href="#" <button class="btn">Projects</button></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Find partners</h4>
                                <p class="description">You are interested by a project. The project holder is interested by your profil ? It's a match. Start to communicate together to know more about each other and how you could work together.</p>
                                <a href="#" <button class="btn">Find partners</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="section">
            <div class="container-fluid">
                <h2 class="title">Stay informed</h2>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#articles" role="tab" aria-controls="articles">
                                    Articles
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#entrepreneurship" role="tab" aria-controls="entrepreneurship">
                                   Le parcours de l'entrepreneur
                                </a>
                            </li>
                        </ul>
                            
                        <div class="tab-content">
                            <div class="tab-pane active" id="articles" role="tabpanel">
                            <%= Article.all.each do |article| %>
                                <div class="row">
                                <div class="col-12 col-sm-2"></div>
                                <div class="col-12 col-sm-8 media Tweets">
                                <%= image_tag('workplace.jpg', class:"mr-3  img-flex", alt: "Generic placeholder image") %>
                                    <div class="media-body">
                                        <h5 class="mt-0"><%= article.title %></h5>
                                        <%= article.content %>
                                        <br/>
                                        <%= link_to 'Show', article %> 
                                    </div>
                                </div>
                                <div class="col-12 col-sm-2"></div>
                                </div>
                                <% end %>
                                
                            </div>
                            <!-- Le parcours de l'entrepreneur -->
                            <div class="tab-pane Follow" id="entrepreneurship" role="tabpanel">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 col-sm-2"></div>
                                        <div class="col-12 col-sm-8">
                                           <%= image_tag 'entrepreneuriat-1.jpg' %>
                                           <%= image_tag 'entrepreneuriat-2.jpg' %>
                                           <%= image_tag 'entrepreneuriat-3.jpg' %>
                                           <%= image_tag 'entrepreneuriat-4.jpg' %>
                                           <%= image_tag 'entrepreneuriat-5.jpg' %>
                                           <%= image_tag 'entrepreneuriat-6.jpg' %>
                                           <%= image_tag 'entrepreneuriat-7.jpg' %>
                                           <%= image_tag 'entrepreneuriat-8.jpg' %>
                                           <%= image_tag 'entrepreneuriat-9.jpg' %>
                                           <%= image_tag 'entrepreneuriat-10.jpg' %>
                                           <%= image_tag 'entrepreneuriat-11.jpg' %>
                                           <%= image_tag 'entrepreneuriat-12.jpg' %>
                                           <%= image_tag 'entrepreneuriat-13.jpg' %>
                                           <%= image_tag 'entrepreneuriat-14.jpg' %>
                                           <%= image_tag 'entrepreneuriat-15.jpg' %>
                                           <%= image_tag 'entrepreneuriat-16.jpg' %>
                                           <%= image_tag 'entrepreneuriat-17.jpg' %>
                                        </div>
                                        <div class="col-12 col-sm-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render("layouts/footer") %>
    </div>
    </body>