<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item">
      <%= image_tag "bmp-1.jpg", class:"d-block", style:" width:100%; height: 600px !important;" %>
    </div>
    <div class="carousel-item active">
      <%= image_tag "bmp-2.jpg", class:"d-block", style:" width:100%; height: 600px !important;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "bmp-3.jpg", class:"d-block", style:" width:100%; height: 600px !important;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "bmp-4.jpg", class:"d-block", style:" width:100%; height: 600px !important;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "bmp-5.jpg", class:"d-block", style:" width:100%; height: 600px !important;" %>
      <div class="carousel-caption d-none d-md-block">
      <div class="btn btn-primary">S'inscrire</div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="now-ui-icons arrows-1_minimal-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="now-ui-icons arrows-1_minimal-right"></i>
  </a>
</div>